html {
    font-size: 62.5%;
} 
body {
    font-size: 1.6rem;
}
body,
ul {
    margin: 0;
}
ul {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}